DJANGO_SECRET_KEY=8svqb+9!yq0+z2!+97ue^wqo^x9)-m$1bp5)ymwe!hx9-fz3g%
DJANGO_DEBUG=True

POSTGRES_DB=team_finder
POSTGRES_USER=team_finder
POSTGRES_PASSWORD=team_finder
POSTGRES_HOST=localhost
POSTGRES_PORT=5444

TASK_VERSION=2
